/**
 * SUBSECTION MANAGER
 * for Symphony
 *
 * @author: Nils Hörrmann, http://nilshoerrmann.de
 * @source: http://github.com/nilshoerrmann/subsectionmanager
 */

 
body.subsection {
	background: #353533;
	border: none;
	padding: 0;
	margin: 0;
}

body.subsection form {
	margin: 0;
	padding: 0 12px;
	position: relative;
	top: 0;
	bottom: 0;
	border: none;
}

body.subsection form fieldset {
	float: none !important;
	width: 100% !important;
	border: 1px solid transpareant;
	border-bottom: 1px solid #616057 !important;
	margin: 1em 0;
	padding: 0;
}

body.subsection fieldset input {
	width: 100%;
}

body.subsection form input.button {
	width: auto;
}

body.subsection form label, body.subsection form p {
	color: #fff;
}

body.subsection form a {
	color: #8fafd9;
}

body.subsection form label > span {
	border: 1px solid #616057;
	background: #504f49;
}

body.subsection form .actions {
	border: none;
	padding: 0;
	margin: 0;
	height: 4em;
}

body.subsection #notice {
	display: block;
	margin: 0 -12px !important;
	padding: 2px 12px !important;
	border-top: none !important;
	border-bottom: 1px solid #616057 !important;
	background: #504f49 !important;
	color: #fff !important;
}

body.subsection form input[type="file"] {
	color: #fff;
	background: #504F49;
	border: 1px solid #504F49 !important;
}

body.subsection form input[type="checkbox"] {
	width: auto;
}

body.subsection #version {
	display: none;
}
