/* This is based on Nick Dunn's Publish tabs, https://github.com/nickdunn/publish_tabs */

body.subsectiontabs h2 {
	border-bottom: 0;
}

body.subsectiontabs form {
	border-top: 1px solid #DDC;
}

body.subsectiontabs div.tabs {
	margin: 0 -19px;
	min-height: 100px;
	overflow: hidden;
}

body.subsectiontabs iframe.subsectiontab {
	width: 100%;
	box-sizing: border-box;
}

#subsectiontabs {
	list-style-type: none;
	margin: 5px -19px 10px;
	padding: 0 19px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	background: -moz-linear-gradient(bottom, #eee 0%, #fff 15%, #fff 100%);
	background: -webkit-gradient(linear, left bottom, left top, from(#eee), to(#fff), color-stop(0.15, #fff));
	height: 23px;
}

#subsectiontabs li {
	list-style-type: none;
	float: left;
	padding: 2px 7px 0;
	margin: 0 3px 0 0;
	cursor: pointer;
	background: rgba(0, 0, 0, 0.02);
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: transparent;
	color: rgba(0, 0, 0, 0.5);
	height: 20px;
}

#subsectiontabs li:hover {
	background: rgba(0, 0, 0, 0.04);
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom: transparent;
	color: rgba(0, 0, 0, 0.65);
}

#subsectiontabs li.selected {
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid #fff;
	color: rgba(0, 0, 0, 0.8);
	z-index: 1000;
}

#subsectiontabs li span {
	padding: 2px 4px 0;
	cursor: pointer;
	display: block;
}

#subsectiontabs li input {
	padding: 2px 2px 3px;
	cursor: pointer;
	border: 1px solid transparent;
	background: transparent;
	outline: none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

#subsectiontabs li.selected input, #subsectiontabs li.new input {
	border: 1px solid rgba(0, 0, 0, 0.1);
	background: #fff;
}

/*#subsectiontabs li.new:hover {
	background-color: rgba(129, 185, 52, 0.5);
	border-color: rgba(129, 185, 52, 1);
	color: rgba(255, 255, 255, 1);
}*/
/*
#subsectiontabs li.invalid span {
	background-color: #aaa;
	color: #fff;
	display: inline-block;
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
	font-size: 11px;
	padding: 1px 5px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px 8px;
	border-radius: 8px 8px;
	line-height: 1;
	margin: 0 -5px 0 5px;
	position: relative;
	top: -1px;
}

#subsectiontabs li:hover span,
#subsectiontabs li.selected span {
	background-color: #dd4422;
}

.tab-group {
	position: absolute;
	top: -99999em;
	left: -99999em;
}

.tab-group-selected {
	position: static;
}*/
