/**
 * SUBSECTION MANAGER
 * for Symphony
 *
 * @author: Nils Hörrmann, http://nilshoerrmann.de
 * @source: http://github.com/nilshoerrmann/subsectionmanager
 */


div.field-subsectionmanager select {
	display: none;
}

div.stage li, div.draghelper {
	padding-left: 0;
}

div.draghelper a.destructor {
	display: none;
}

div.stage li.preview, div.draghelper.preview, div.stage ul.dragging li.preview:hover {
	padding-left: 52px;
}

div.queue li.message, div.stage li.empty {
	padding: 0 !important;
}

div.stage.preview img, div.draghelper img {
	position: absolute;
	border: 1px solid #ccc;
	top: 5px;
	left: 12px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	cursor: pointer;
}

div.stage.preview strong.file, div.draghelper strong.file {
	position: absolute;
	border: 1px solid #ccc;
	top: 5px;
	left: 12px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	width: 40px;
	height: 40px;
	background: #fff url(images/file.png) 0 0 no-repeat;
	text-transform: uppercase;
	color: #ccc;
	text-align: center;
}

div.stage li.drawer iframe {
	width: 100%;
	display: block;
}

div.stage li em, div.draghelper em, div.stage li em, div.stage li em:hover, div.draghelper em:hover, div.stage li em:hover {
	font-style: normal;
	color: #908e88;
	cursor: auto;
	float: none;
	font-style: inherit;
	margin-right: 0;
	text-decoration: none;
	width: auto;	
}

div.stage li.preview a.file, div.stage li.preview span, div.draghelper a.file, div.draghelper span {
	min-height: 39px;
}

div.stage div.queue li.selected em {
	color: #aabbee;
}

div.stage div.queue li.selected img, div.stage div.queue li.selected strong.file {
	border-color: #335e9e;
}

div.stage ul.selection {
	cursor: pointer;
}

div.stage ul.selection.draggable {
	cursor: move;
}

div.stage ul li.drawer {
	-moz-box-shadow: 0 0 4px rgba(46, 45, 40, 0.3);
	-webkit-box-shadow: 0 0 4px rgba(46, 45, 40, 0.3);
	z-index: 1000;
	overflow: hidden;
	background: #353533 url(images/loading-dark.gif) center no-repeat;
}

div.dropper {
	background: rgba(0, 0, 0, 0.8) url(images/drop.png) center no-repeat;
}

/* System error messages */

div.field-subsectionmanager div.invalid {
	margin: -1.75em 0 1.75em;
}

div.field-subsectionmanager div.invalid div.stage {
	margin: 0 0px 1.75em;
	border: 1px solid #B21;
}

div.field-subsectionmanager div.invalid code {
	font-size: 1em;
}
