/*
 * SUBSECTION for Symphony
 *
 * @author: Nils Hörrmann, post@nilshoerrmann.de
 * @source: http://github.com/nilshoerrmann/stage
 */


div.field-subsectionmanager select {
	display: none;
}

div.stage.preview li {
	height: 52px;
	padding-left: 52px;
}

div.queue li.message, div.stage li.empty {
	padding: 0 !important;
	height: 32px;
}

div.stage.preview img {
	position: absolute;
	border: 1px solid #ccc;
	top: 5px;
	left: 12px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

div.stage li.drawer iframe {
	width: 100%;
}

div.stage li em {
	font-style: normal;
	color: #908e88;
}

div.stage div.queue li.selected em {
	color: #aabbee;
}

div.stage div.queue li.selected img {
	border-color: #335e9e;
}

div.stage ul.selection span {
	cursor: pointer;
}

div.stage ul li.drawer {
	-moz-box-shadow: 0 0 4px rgba(46, 45, 40, 0.3);
	-webkit-box-shadow: 0 0 4px rgba(46, 45, 40, 0.3);
	z-index: 1000;
	overflow: hidden;
	background: #353533 url(images/loading-dark.gif) center no-repeat;
}
